body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}

.container-header-sm {
    display: none;
}

.sidenav {
    display: none;
}

.mynav{
    background-color: whitesmoke;
}

.mynav .nav-link{
    color: #34495e;
    font-weight: 600;
}

.mynav .active{
    color: #e67e22;
}

.mynav .nav-link:hover{
    color: #e67e22;
}

img {
    width: 100%;
}

.title {
    color: #e67e22;
    font-weight: 600;
    font-size: 55px;
}

.btn-main:hover {
    background-color: #d35400 !important;
}

.btn-main:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 126, 34,.5) !important;
}

.btn-main {
    background-color: #e67e22;
    color: white;
    font-weight: 600;
}

.modal-dialog {
    max-width: 30%;
}

#modalInvalid > .modal-dialog{
    width: 500px;
}

.form-control:focus {
    border-color: rgb(230, 126, 34);
    box-shadow: 0 0 0 0.2rem rgba(230, 126, 34,.5);
}

.img-materi {
    height: 200px;
    border: 2px solid gray;
}

.submateri-title {
    font-weight: 600;
}

.text-main{
    color: #e67e22;
}

.main-profile label{
    font-size: 20px;
    font-weight: 600;
}

.main-name{
    font-weight: 600;
    letter-spacing: 1px;
}

.px-6{
    padding-left: 100px;
    padding-right: 100px;
}

.bg-img{
    position: fixed;
    bottom: -14%;
    right: -10%;
    width: 400px;
    transform: rotate(-45deg);
}

.soal {
    border: 2px solid #e67e22;
    border-radius: 10px;
    height: 150px;
}

.nomor-soal {
    font-weight: 600;
}

.isi-soal {
    font-size: 20px;
}

.jawaban {
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
}

.jawaban:hover {
    border: 2px solid #e67e22;
    background-color: #e67e22;
    color: white;
}

.clicked {
    border: 2px solid #e67e22 !important;
    background-color: #e67e22 !important;
    color: white !important;
}

.jawaban input[type="radio"] {
    visibility: hidden;
}

.nav-soal {
    font-size: 34px;
}

.nav-soal .active {
    color: #e67e22;
    cursor: pointer;
}

.nav-soal .disable {
    color: gray;
    cursor: default;
}

.nav-soal span {
    font-size: 20px;
}

.n-nomor {
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.mutiara {
    font-size: 20px;
}

.container-hasil{
    background-color: #ecf0f1;
}

@media (max-width: 1199.98px) {
    .modal-dialog {
        max-width: 40%;
    } 
}

@media (max-width: 991.98px) { 

    .title {
        font-size: 40px;
    }

    .moto {
        font-size: 20px;
    }

    .jargon {
        font-size: 14px;
    }
 
    .container {
        max-width: 920px;
    }

    .modal-dialog {
        max-width: 50%;
        margin: auto;
    }
    .px-6{
        padding-left: 60px;
        padding-right: 60px;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}

@media (max-width: 767.98px) { 
    .bg-img{
        display: none;
    }

    .container-header{
        display: none;
    }

    .container-header-sm{
        display: block;
    }

    button.btnNav{
        font-size: 28px;
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
    }

    .menu{
        font-size: 20px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: whitesmoke;
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
    }

    .modal-dialog {
        max-width: 95%;
        margin: auto;
    }

    .px-6{
        padding-left: 10px;
        padding-right: 10px;
    }
 }

 /*Loader*/
 #loader{
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: #fff;
 }

#loader .container{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

 #loader ul{
    display: inline-block;
    margin: 0;
    padding: 0;
 }

 #loader ul li{
    display: inline-block;
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e67e22;
    margin: 0 5px;
    animation: loader 1s ease-in-out infinite;
 }

 @keyframes loader{
    0%, 50%, 100%{
        transform: scale(0.6);
    }
    25%{
        transform: scale(1);
    }
 }

 #loader ul li:nth-child(1){
     animation-delay: -0.8s;
 }

 #loader ul li:nth-child(2){
    animation-delay: -0.65s;
}

#loader ul li:nth-child(3){
    animation-delay: -0.5s;
}

#loader ul li:nth-child(4){
    animation-delay: -0.35s;
}