body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}

.container-header-sm {
    display: none;
}

.sidenav {
    display: none;
}

.mynav{
    background-color: whitesmoke;
}

.mynav .nav-link{
    color: #34495e;
    font-weight: 600;
}

.mynav .active{
    color: #e67e22;
}

.mynav .nav-link:hover{
    color: #e67e22;
}

img {
    width: 100%;
}

.title {
    color: #e67e22;
    font-weight: 600;
    font-size: 55px;
}

.mybtn {
    background-color: #e67e22;
    color: white;
    font-weight: 600;
}

.btn:hover {
    background-color: #d35400;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 126, 34,.5);
}

.btn-main {
    background-color: #e67e22;
    color: white;
    font-weight: 600;
}

.modal-dialog {
    width: 400px;
}

#modalInvalid > .modal-dialog{
    width: 500px;
}

.form-control:focus {
    border-color: rgb(230, 126, 34);
    box-shadow: 0 0 0 0.2rem rgba(230, 126, 34,.5);
}

@media (max-width: 991.98px) { 

    .title {
        font-size: 40px;
    }

    .moto {
        font-size: 20px;
    }

    .jargon {
        font-size: 14px;
    }
 
    .container {
        max-width: 920px;
    }
}

@media (max-width: 767.98px) { 
    .container-header{
        display: none;
    }

    .container-header-sm{
        display: block;
    }

    button.btnNav{
        font-size: 28px;
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
    }

    .menu{
        font-size: 20px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: whitesmoke;
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
    }
 }
